body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
header {
  background-color: #345;
  color: #eee;
  padding: 10px 0;
  text-align: center;
}
main {
  padding: 20px;
}

#meal-index {
  text-align: center;
}
.meal-letters a {
  margin: 0 5px;
  text-decoration: none;
  color: #345;
  font-weight: bold;
  font-size: large;
}
.meal-search {
  margin-top: 20px;
}
.meal-search input {
  padding: 5px;
  width: 200px;
  border: 1px solid #aaa;
}
.meal-search button {
  padding: 5px 15px;
  background-color: #345;
  color: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
}

#meal-list {
  text-align: center;
  margin: 20px;
}
.meal-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.meal-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 200px;
  box-shadow: 1px 2px 5px #aaa;
}
.meal-card-image img {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.meal-card-title {
  padding: 10px;
  text-align: center;
}
.meal-card-title a {
  text-decoration: none;
  color: #345;
  font-weight: bold;
}